In [1]:
# print function
print("Hello World")

Hello World

In [2]:
#Single line and multiline comments in python
#print("Hello Ravi")
'''print("Hello Aishwarya")
print("Hello Andrew")'''
print("Hello Mohammed")

Hello Mohammed

In [3]:
#operators
result = ((10+22)%3)**4//2-1/5
print(result)

7.8

In [4]:
#assignment at a time and mixing of operators
a,b,c = 1,2,3
print(a+b+c)
b="hi"
print(str(a)+b+str(c)+str(c))
#print(a+b+c)
print(c*b)

6
1hi33
hihihi

In [5]:
#input and output
value = input("Enter a Value = ")
print("the value entered is ",value)
print("type of the value entered is ",type(value))

Enter a Value = 4
the value entered is  4
type of the value entered is  <class 'str'>

In [6]:
no = int(value)
#no = float(value)
#no = str(value)
print(type(no),value)

<class 'int'> 4

In [7]:
#lists
#l[start:end:step]
l = [1,2,3,4,5,6,7,8,9,10]
print(l)
print(l[::-1])
print(l[:5])
print(l[2:5])
print(l[::2])
print(l[1::2])
l.append(11)
print(l)
l=l+[12,13,14,15]
print(l*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[3, 4, 5]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [8]:
print(len(l))
l[20]

15

IndexError: list index out of range

In [9]:
for i in l:
    print(i,end=",")
    #print("i",end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,

In [10]:
l=['hi','hello','how','are','you']
print(l)

['hi', 'hello', 'how', 'are', 'you']

In [11]:
for i in l:
    print(i,end=" ")

hi hello how are you

In [12]:
l=[1,3.9,'how',True,'you']
print(l)

[1, 3.9, 'how', True, 'you']

In [13]:
l=l*3
print(l)

[1, 3.9, 'how', True, 'you', 1, 3.9, 'how', True, 'you', 1, 3.9, 'how', True, 'you']

In [14]:
l.pop()

'you'

In [15]:
print(l)
l.count(3.9)

[1, 3.9, 'how', True, 'you', 1, 3.9, 'how', True, 'you', 1, 3.9, 'how', True]

3

In [16]:
l.remove('how')
print(l)

[1, 3.9, True, 'you', 1, 3.9, 'how', True, 'you', 1, 3.9, 'how', True]

In [17]:
l.extend(['ssj','wew','we'])
print(l)
l=l+['ssj','wew','we']

[1, 3.9, True, 'you', 1, 3.9, 'how', True, 'you', 1, 3.9, 'how', True, 'ssj', 'wew', 'we']

In [18]:
l.insert(5,'Kalam')
print(l)

[1, 3.9, True, 'you', 1, 'Kalam', 3.9, 'how', True, 'you', 1, 3.9, 'how', True, 'ssj', 'wew', 'we', 'ssj', 'wew', 'we']

In [19]:
l[5]

'Kalam'

In [20]:
l=[3,2,1,4,6,5]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6]

In [21]:
t = ('apple','berry','carrot','drumstick')
print(t)
print(t[-2::-1])
#t[1]='banana'

('apple', 'berry', 'carrot', 'drumstick')
('carrot', 'berry', 'apple')

In [22]:
t = ('apple','berry','carrot','drumstick')
l = list(t)
l.append('egg')
t = tuple(l)
print(t)

('apple', 'berry', 'carrot', 'drumstick', 'egg')

In [23]:
#dictionary
students={}
#students=dict()
students['Kala']=1234
students['Mala']=2222
students['Mani']=3333
students['Karthik']=4444
print(students)
print(students.items())
print(students.values())
print(students.keys())

for name,roll in students.items():
    print("%s's rollno is %s"%(name,roll))

{'Kala': 1234, 'Mala': 2222, 'Mani': 3333, 'Karthik': 4444}
dict_items([('Kala', 1234), ('Mala', 2222), ('Mani', 3333), ('Karthik', 4444)])
dict_values([1234, 2222, 3333, 4444])
dict_keys(['Kala', 'Mala', 'Mani', 'Karthik'])
Kala's rollno is 1234
Mala's rollno is 2222
Mani's rollno is 3333
Karthik's rollno is 4444

In [24]:
name1,name2,name3 = "Ram","Khan","Andrew"
print("Hello, %s, %s, %s!" % (name1,name2,name3))
print("Welcome %s" % name1)
print("HexaDecimal of 17 is %x" % 17)

Hello, Ram, Khan, Andrew!
Welcome Ram
HexaDecimal of 17 is 11

In [25]:
s = 'Pavan is a good boy'
print(s.index('n'))
print(len(s))
print(s.split(' '))
print(s[::-1])
print(s.upper())
print(s.lower())
print(s.startswith("Pavan"))
print(s.endswith("Pavan"))

4
19
['Pavan', 'is', 'a', 'good', 'boy']
yob doog a si navaP
PAVAN IS A GOOD BOY
pavan is a good boy
True
False

In [3]:
from math_module import addition,multiplication
print(addition(1,2,3))
print(multiplication(1,2,3,4))

6
24

In [8]:
from random import randint
print(randint(1,10))

10

In [28]:
x=10
if x>10:
    print("x is greater than 10")
else:
    print("x is not greater than 10")

x is not greater than 10

In [29]:
x=10
if x==10:
    print("x is equal to 10")
else:
    print("x is not equal to 10")

x is equal to 10

In [30]:
x,y=10,20
if x==10 and y==15:
    print("condition True")
else:
    print("condition False")

condition False

In [31]:
x,y=10,20
if x==10 or y==15:
    print("condition True")
else:
    print("condition False")

condition True

In [32]:
x=2
l=[1,2,3,4,5]
if x in l:
    print(x," is in ",l)

2  is in  [1, 2, 3, 4, 5]

In [33]:
if True:
    print(True)
if not True:
    print(False)

True

In [34]:
x=15
if x<15:
    print("< 15")
elif x>15:
    print("> 15")
else:
    pass

In [35]:
a=[1,2,3]
b=[1,2,3]
c=b
print(a==b)
print(a is b)
print(c is b)

True
False
True

In [36]:
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")

1 2 3 4 5

In [37]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [38]:
for i in range(5,10):
    print(i,end=",")

5,6,7,8,9,

In [39]:
for i in range(1,10,2):
    print(i,end=",")

1,3,5,7,9,

In [40]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Author of the notebook: [Murukessan](https://www.linkedin.com/in/murukessan-angappan-638a67115/)**